* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #14bdac;
}

main {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tictactoe-container {
	margin: 1rem;
}

.tictactoe-container button {
	display: flex;
	width: 100px;
	height: 100px;
}

.row {
	display: flex;
}

.row button {
	display: flex;
	align-items: center;
	justify-content: center;

	border: 3.5px solid #0da192;
	background-color: #14bdac;
}

.row button .fa-times {
	font-size: 60px;
	color: #545454;
}

.row button .fa-circle {
	color: #f2ebd3;
	font-size: 50px;
	font-weight: 200;
}

.r1 .c1 {
	border-top: none;
	border-left: none;
}
.r1 .c2 {
	border-top: none;
}
.r1 .c3 {
	border-top: none;
	border-right: none;
}

.r2 .c1 {
	border-left: none;
}
.r2 .c3 {
	border-right: none;
}

.r3 .c1 {
	border-bottom: none;
	border-left: none;
}
.r3 .c2 {
	border-bottom: none;
}
.r3 .c3 {
	border-bottom: none;
	border-right: none;
}

#display {
	display: flex;
	align-items: center;
	gap: 1rem;

	color: #545454;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 3rem;
	margin-bottom: 3rem;
}

#display .fa-circle {
	font-size: 2.5rem;
}
